<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Training\Test2\MagentoU\Test2">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="test-array-item" xsi:type="string">Another Array Item!!!</item>
            </argument>
            <argument name="unit1ProductRepository" xsi:type="object">Training\Test2\Api\ProductRepositoryInterface</argument>
        </arguments>
    </type>
</config>